.footer__container {
    display: flex;
    justify-content: space-evenly;
    background-color: #EAF2FD;
}

.form-floating{
    margin-bottom: 1rem;
}

/* .footer__logo, .footer__container-lista{
    display: flex;
} */

.footer__block{
    display: flex;
    justify-content:space-around;
}
.form2{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 500px;
}
.footer__form{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    align-content: flex-end;
    flex-wrap: wrap;
}

.footer__lista-item{
    margin-bottom: 1.5rem;
}

.footer__btn{
    margin-top:2rem;
}

.footer__parrafo{
    text-align: center;
    padding-top: 12px;
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (max-width: 767px) {
    .form-floating{
        width: 328px;
    }

    .form2{
        flex-direction: column;
    }
    .AluraGeek{
        align-self: center;
    }

    .footer__container-lista{
        justify-content: center;
    }

    .form2{
        display: contents;
    }

    .footer__logo{
        padding-bottom: 1rem;
    }

    .footer__form{
        width:328px;
        flex-direction: row;
    }

    .footer__container {
        padding: 20px;
    }

    .btn{
        width: 328px;   
    }

    .footer__btn {
        margin-right: -3rem;
    }
}


/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    
    .form-floating{
        width: 434px;
    }

    .btn{
        width: 434px;   
    }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    .footer__container {
        padding: 54px;
    }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {...}