.footer__container {
    display: flex;
    justify-content: space-evenly;
    background-color: #EAF2FD;
}

.footer__logo, .footer__container-lista{
    display: flex;
}

.footer__block{
    display: flex;
    justify-content:space-around;
}

.footer__form{
    width: 450px;
}

.footer__lista-item{
    margin-bottom: 1.5rem;
}

.footer__btn{
    margin-top:2rem;
}

.footer__parrafo{
    text-align: center;
    padding-top: 12px;
}