.container{
    max-width: 350px!important;
    margin-left: 2rem!important;
    margin-right: 2rem!important;
}

.d-flex{
    flex-wrap: nowrap!important;
}

.btn-admin, .d-flex-admin{
    width: 200px!important;
}

.navbar{
    display: flex;
    justify-content:space-between;
    padding-right: 3rem!important;
    width: 100vw;
}