.container{
    max-width: 350px!important;
    margin-left: 2rem!important;
    margin-right: 2rem!important;
}

.d-flex{
    flex-wrap: nowrap!important;
    display: flex;
    
}

.d-flex-admin{
    width: 200px!important;
    
}

.navbar{
    display: flex;
    justify-content:space-between;
    
    width: 100vw;
}