main{
    display: flex;
    justify-content:center;
    padding-top: 5rem;
    padding-bottom: 5rem;
}

.iniciarSesion__form{
    width: 523px;
    height: 291px;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    align-items: center;
}

.container__login{
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn-primary {
    margin-right: -3rem;
}



/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (max-width: 767px) {
    
    .d-flex, .btn{
        width: 328px;   
    }

}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    .d-flex, .btn{
        width: 434px;   
    }
    
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {

    
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {...}