.principal{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top:3rem;
    padding-left: 5rem;
}

.articulos3{
    margin-bottom: -30px;
    padding-bottom: 5rem;
}

.btn-agregar{
    width:200px;
}

@media only screen and (max-width: 600px) {
    .principal{
        flex-direction: column;
    }
}